@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* commmon css */
/* ------------- */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.c_pointer {
  cursor: pointer;
}

input {
  border: 0;
}

input::placeholder {
  color: #E6E5E5;
}

select {
  border: 0;
}

/* ------------- */
/* commmon css */


.dashboard_main {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.dashboard_main .child:nth-of-type(1) {
  background: #142038;
  padding: 40px;
  height: 100vh;
  position: relative;
}

.dashboard_main .child:nth-of-type(2) {
  /* background: rgba(255, 0, 0, 0.295); */
  margin: 40px 50px;
}

.sidebar_text {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 20px;
}

.admin_drop {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  color: #fff;
}

/* filter  */
.filter_bg {
  background: #F5F5F5;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 15px;
}

.filter_main {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filter_main p {
  font-weight: 300;
  font-size: 14px;
  color: #656565;
}

.filter_main input {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  border-radius: 10px;
}

.filter_child {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
}

.tabs {
  padding: 10px;
  background: #fff;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  gap: 5px;
}

.active_tabs {
  background: #2EB7C4 !important;
  border-radius: 5px;
  border: 0;
  padding: 3px 24px;
  color: #fff;
  font-size: 14px;
}

.tabs button {
  background: #fff;
  border-radius: 5px;
  border: 0;
  padding: 3px 24px;
  font-size: 14px;
}

.tabs button:hover {
  background: rgba(46, 184, 196, 0.295);
  color: #fff;
}

input[type="text"] {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  padding: 10px
}

input[type="date"] {
  padding: 10px;
}

.filter_main select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  background-image: url("./images/arrow-down-black.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 48%;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.apply_btn {
  background: #2EB7C4;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding: 5px 24px;
  border: 0;
}

/* filter  */



/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  width: 15px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
} */